extends layout

block content
  h1= title
  p Pomodo START #{title}

  table(class="center-absolute")
    tbody
      tr(class="center-absolute", id="timer")
        td
          p 25:00

  div
    label Defina um valor inteiro, em minutos como tempo, superio a 1 minuto.
    input(type="text", id="time" placeholder="30")
    button(onclick="customDisplay()") Iniciar

  button(onclick="display()") Começar
  button(onclick="display(1, endTimeInterval)") Iniciar intervalo
  
  script(src='javascripts/chrome-notification.js')
  script(src='javascripts/message.js')
  script(src='javascripts/timer.js')