extends layout

block content
  h1(class="text-monospace") Pomodoro número #{cont}
 
  
  div
    if cont >= 4
      h3(class="alert alert-danger text-center") Considere dar uma pausa de 10 min no próximo intervalo

  table(class="center-absolute")
    tbody
      tr(class="center-absolute", id="timer")
        td
          p 25:00

  div(class="d-inline p-2 bg-primary text-white")
    label Defina um valor inteiro, em minutos como tempo, superio a 1 minuto.
  
  br
  br  


   
  .form-inline
    div(class="form-group mb-2")
      label(class="text-monospace") Tempo personalizado
    
    div(class="form-group mx-sm-3 mb-2")    
      input(type="text", id="time", placeholder="30", class="form-control")
    
    button(class="btn btn-dark mb-2", onclick="customDisplay()") Iniciar


  .form-inline
    div(class="form-group mb-2")
      button(class="btn btn-dark mb-2", onclick="displayController()") 25 min
    
    div(class="form-group mx-sm-3 mb-2")    
      button(class="btn btn-danger mb-2", onclick="displayController(5, true)") Iniciar intervalo
    
  br
  br
  br
  a(class="btn btn-light mb-2", onclick="refresh()") Limpar

  script(src='javascripts/permission-chrome-notification.js')
  script(src='javascripts/notify.js')
  script(src='javascripts/message.js')
  script(src='javascripts/timer.js')

  