extends layout

block content
  h1= title
  p Pomodo START #{title} Total #{cont}
  
  div
    if cont >= 4
      h2 Você deviria dar uma pausa de 10 minutos


  table(class="center-absolute")
    tbody
      tr(class="center-absolute", id="timer")
        td
          p 25:00

  div
    label Defina um valor inteiro, em minutos como tempo, superio a 1 minuto.
    input(type="text", id="time" placeholder="30")
    button(onclick="customDisplay()") Iniciar

  button(onclick="displayController()") Começar
  button(onclick="displayController(1, endTimeInterval)") Iniciar intervalo
  
  script(src='javascripts/chrome-notification.js')
  script(src='javascripts/message.js')
  script(src='javascripts/timer.js')